.register-link-container {
	display: flex;
	flex-direction: row;
	width: 30%;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.register-link-container > * {
	margin: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

.form-data {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: auto;
	margin-top: 10px;
}

.form-data > label {
	text-align: start;
}

form > button {
	width: 10%;
	height: 30px;
	margin: auto;
	margin-top: 10px;

	font-weight: bold;
	font-size: 15px;
	border: 1px solid var(--bg-primary);
	background-color: white;
	color: var(--bg-primary);

	transition: background-color 100ms ease-in, color 100ms ease-in;
}

form > button:hover {
	background-color: var(--bg-primary);
	color: white;
}
