.header-container {
	background-color: var(--black);
	/* border-bottom: solid var(--border-color) 4px; */
	border-left: solid var(--border-color) var(--tree-border-width);
	height: var(--header-height);
	color: white;

	display: flex;
	align-items: center;
}

.header-content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 5%;
	padding-right: 5%;
}
