.viewer-container {
	background-color: var(--viewer-bg);
	width: 100%;
	height: 100%;
	position: relative;
	overflow: auto;
	border-left: var(--tree-border-width) solid var(--border-color);
}

svg {
	width: 100%;
}

.viewer-container-wrapper {
	width: 100%;
	height: 100%;
}
