PORT = 3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MYSQL_DB = "femviewerdb"
DB_ROOT_PASSWORD = "super_secret_password"
DB_PASSWORD = "secret_password"
DB_USER = "femviewer"
DB_HOST = "localhost"
DB_PORT = 3306

SESSION_NAME = "fem_session"
SESSION_SECRET = "cfb4bebe7458e19be22304b2de2985db012a4ca4c6312ea7f6bc7684f53b452450c626bb6aa0a9dafa6c4e1ec7b894b876a2ed3829fcb0fb7f28b4f2f36f4c7cfe26f2299953fa94b593b531aebc1f8d38a73704b3b9c1f03231722ad4280a669cd4911b6e3fa662ec53dec3d07667eb71e51546e689b69adfb73b7767d9c30d"

DATABASE_URL="mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${MYSQL_DB}"