.dynamicsvg-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.svg-container {
	flex-grow: 1;
	background-color: var(--viewer-bg);
	overflow: hidden;
	position: relative;
	border-left: var(--tree-border-width) solid var(--border-color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
