.cell-row {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */

	border: 1px solid var(--bg-primary);
}

.prop-title {
	display: flex;
	/* min-width: 25%; */
	width: 30%;
	overflow: scroll;
	justify-content: left;
	align-items: center;
	border-right: 1px solid var(--bg-primary);
	background-color: rgba(95, 172, 208, 0.25);
	font-weight: bolder;
	padding: 4px;
}

.prop-value {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	max-width: 200px;
	margin-left: 10px;
}

.cell-row-child {
	display: flex;
	flex-direction: column;
}

.prop-title-child {
	display: flex;
	align-items: center;
	height: 25px;
	justify-content: center;
	background-color: var(--subtitle-bg);
	color: var(--subtitle-fg);
	font-weight: bolder;
}

.prop-value-child {
	flex-grow: 1;
}
